<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">StockWatcher</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="../login">Log out</a></li>
        <li><a routerLink="../profile">Profile</a></li>
        <li><a routerLink="../search">Search</a></li>
        <li><a href="#">Stocks</a></li>
      </ul>
    </div>

    <router-outlet></router-outlet>
</nav>