<app-nav></app-nav>
<h1>Hello {{activeUsername}} to StockWatch</h1>
<div *ngIf="condition">
    <p>You currently have no stocks. Stocks bought will be shown here. You can buy stock by searching stocks on search tab</p>
</div>
<div class="grid grid-pad">
    <a *ngFor="let purchase of purchases" class="col-1-4"
    routerLink="../stocks/{{purchase.stockString}}">
        <div class="module purchase">
            <h4>{{purchase.stockString}}</h4>
            <h4>Amount: {{purchase.amount}}</h4>
            <h4>Bought Price: {{purchase.price}}</h4>
        </div>
    </a>
</div>
