<app-nav></app-nav>
<input #searchBox id="searchBox" (input)="searchStocks(searchBox.value)" placeholder="Type in stock symbol (acronym) to search">
<!--
<ul class= "search-result" id="searchResult">
    <li *ngFor="let s of stock$ | async | slice:0:50 "><a routerLink ="../stocks/{{s.symbol}}">{{s.symbol}} --------- {{s.askPrice}}</a></li>
</ul>
-->
<table class="table table-hover" style="width: 70%; margin-left: 15%;">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of stock$ | async | slice:0:50 " class="clickable-row" data-routerLink="../stocks/{{s.symbol}}">
            <td>{{s.symbol}}</td>
            <td>{{s.lastSalePrice}}</td>
        </tr>
    </tbody>
</table>
<p style="width: 70%; margin-left: 15%; text-align: center;"><a href="https://iexcloud.io" style="color: black;">Data provided by IEX Cloud</a>
