<app-nav></app-nav>
<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-center">Edit Profile</h4>
                </div>
                <div class="row mt-2">
                    <label for="username" class="col-md-4">Username</label>
                    <div class="col-md-4"><input readonly class="form-control" [(ngModel)]="userInfo.username" /></div>
                </div>
                <div class="row mt-3">
                    <label for="password" class="col-md-4">Password</label>
                    <div class="col-md-4"><input type="password" class="form-control" [(ngModel)]="userInfo.password" />
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="firstname" class="col-md-4">First Name</label>
                    <div class="col-md-4"><input class="form-control" [(ngModel)]="userInfo.firstName" /></div>
                </div>
                <div class="row mt-3">
                    <label for="lastname" class="col-md-4">Last Name</label>
                    <div class="col-md-4"><input class="form-control" [(ngModel)]="userInfo.lastName" /></div>
                </div>
                <div class="row mt-3">
                    <label for="email" class="col-md-4">Email</label>
                    <div class="col-md-4"><input class="form-control" [(ngModel)]="userInfo.email" /></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button"
                        (click)=updateUser()>Update Changes</button></div>
                <div class="mt-5 text-center" *ngIf="clientMessage">{{clientMessage.message}}</div>        
            </div>
        </div>
    </div>
</div>