<div id="label">
    <h3>Registeration</h3>
</div>
<div id="form">
    <div class="col-sm-2">
        <p>Username</p>
        <p>Password</p>
        <p>First Name</p>
        <p>Last Name</p>
        <p>Email</p>
    </div>
    <div class="col-sm-9">
        <form>
            <input type="text" placeholder="username" size = 100> <br>
            <input type="password" placeholder="password" size = 100> <br>
            <input type="text" placeholder="First Name" size = 100> <br>
            <input type="text" placeholder="Last Name" size = 100> <br>
            <input type="email" placeholder="Email" size = 100> <br>
            <input type="button" value="register" id = "submit">
        </form>
        <button>Return</button>
    </div>

</div>