#label{
    text-align: center;
}

#form{
    margin-left: 300px;
    margin-top: 50px;
}

#submit{
    margin-top: 10px;
    margin-left: 200px;
    width : 20%;
    text-align: center;
}

button{
    margin-top: 10px;
    margin-left: 200px;
    width : 20%;
    text-align: center;
}